<div class="custom-control custom-switch mg-b-10">
  <input type="checkbox" class="custom-control-input" name="active" value="${active}">
  <label class="custom-control-label">Активен</label>
</div>

<h6 class="mg-b-10">Описание группы</h6>
<div class="form-group mg-b-10">
  <input type="text" class="form-control" name="name" placeholder="Имя группы" value="${name}">
</div>
<div class="form-group mg-b-10">
  <input type="text" class="form-control" name="login_url" placeholder="Точка входа" value="${login_url}">
</div>
<div class="form-group mg-b-10">
  <input type="text" class="form-control" name="logout_url" placeholder="Точка выхода" value="${logout_url}">
</div>
<h6 class="mg-t-20 mg-b-10">Дополнительная информация</h6>
<textarea class="form-control" rows="2" name="text" placeholder="Add notes">${text}</textarea>
