 <div data="contactInfo">
    <div class="d-flex align-items-center justify-content-between mg-b-25">
      <h6 class="mg-b-0">Personal Details</h6>
      <div class="d-flex">
        <a href="#modalEditContact" data-toggle="modal" class="btn btn-sm btn-white d-flex align-items-center mg-r-5"><i data-feather="edit-2"></i><span class="d-none d-sm-inline mg-l-5"> Edit</span></a>
        <a href="#modalDeleteContact" data-toggle="modal" class="btn btn-sm btn-white d-flex align-items-center"><i data-feather="trash"></i><span class="d-none d-sm-inline mg-l-5"> Delete</span></a>
      </div>
    </div>

    <div class="row">
      <div class="col-6 col-sm">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Firstname</label>
        <p class="mg-b-0">${first_name}</p>
      </div><!-- col -->
      <div class="col-6 col-sm">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Middlename</label>
        <p class="mg-b-0">${last_name}</p>
      </div><!-- col -->
      <div class="col-sm mg-t-20 mg-sm-t-0">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Lastname</label>
        <p class="mg-b-0">Johnson</p>
      </div><!-- col -->
    </div><!-- row -->

    <h6 class="mg-t-40 mg-b-20">Contact Details</h6>

    <div class="row row-sm">
      <div class="col-6 col-sm-4">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Mobile Phone</label>
        <p class="tx-primary tx-rubik mg-b-0">${phone}</p>
      </div>
      <div class="col-6 col-sm-4">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Home Phone</label>
        <p class="tx-primary tx-rubik mg-b-0">+1 011 342 3129</p>
      </div>
      <div class="col-6 col-sm-4 mg-t-20 mg-sm-t-0">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Work Phone</label>
        <p class="tx-primary tx-rubik mg-b-0">+1 100 003 3344</p>
      </div>
      <div class="col-sm-4 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Email Address</label>
        <p class="tx-primary mg-b-0">${email}</p>
      </div>
      <div class="col-sm-4 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Company</label>
        <p class="mg-b-0">ThemePixels, Inc.</p>
      </div>
      <div class="col-sm-4 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Job Position</label>
        <p class="mg-b-0">President &amp; CEO</p>
      </div>
      <div class="col-sm-6 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Home Address</label>
        <p class="mg-b-0">4658 Kenwood Place<br>Pompano Beach, FL 33060, United States</p>
      </div>
      <div class="col-sm-6 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Work Address</label>
        <p class="mg-b-0">819 Waldeck Street<br>Farmers Branch, TX 75244, United States</p>
      </div>
      <div class="col-sm-6 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Personal Website</label>
        <p class="tx-primary mg-b-0">http://themepixels.me/</p>
      </div>
      <div class="col-sm-6 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Social Profiles</label>
        <nav class="nav nav-social">
          <a href="" class="nav-link"><i data-feather="facebook"></i></a>
          <a href="" class="nav-link"><i data-feather="twitter"></i></a>
          <a href="" class="nav-link"><i data-feather="instagram"></i></a>
          <a href="" class="nav-link"><i data-feather="github"></i></a>
        </nav>
      </div><!-- col -->
      <div class="col-sm mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Notes</label>
        <p class="tx-13 mg-b-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
      </div>
    </div><!-- row -->
</div>
